.notion-page-content img {
    border: 1px solid #272727;
    border-radius: 6px !important;
}
.notion-topbar, 
.notion-app-inner 
> div 
> div:nth-child(1) 
> div {
    background: black !important;
    border-bottom: 1px solid #272727;
}
.notion-frame {
    background: black !important;
}
.notion-sidebar-container {
    background: black !important;   
    border-right: 1px solid #212121;
}
.notion-sidebar > div {
    background: black !important;
    border: solid 1px #212121;
}
.notion-peek-renderer {
    backdrop-filter: saturate(120%) blur(42px);
}
.notion-peek-renderer > div:nth-child(2) {
    background: rgba(black, 0.4) !important;
    border: 2px solid rgba(white, 0.1);
    border-radius: 8px !important;
}
.notion-peek-renderer > div:nth-child(2) > div:nth-child(1)  {
    background: transparent !important;
    border-bottom: 2px solid rgba(white, 0.1);
    backdrop-filter: saturate(120%) blur(42px);
}
