.notion-topbar, 
.notion-app-inner 
> div 
> div:nth-child(2) 
> div {
    background: black !important;
    border-bottom: 1px solid #212121;
}
.notion-frame, .notion-frame, .notion-collection_view-block > div:nth-child(1), .notion-peek-renderer > div:nth-child(1)  {
    background: black !important;
}
.notion-sidebar-container {
    background: black !important;   
    border-right: 1px solid #212121;
}
.notion-sidebar > div {
    background: black !important;
    border: solid 1px #212121;
}
.notion-peek-renderer > div:nth-child(2) {
    background: black !important;
    border: 1px solid #111;
}
.notion-peek-renderer > div:nth-child(2) > div:nth-child(1)  {
    background: #111 !important;
}
