.sk-client-theme--dark {
    --sk_primary_background: 22,22,22;
    --sk_foreground_min_solid: 22,22,22;
}
.p-view_header__avatar_stack_container {
    border: 1px solid #444;
}
.p-view_header__avatar_stack_inner_container {
    border-right: 1px solid #444;
}
