body,
.loading-view
.tk-calendar,
.dark .dark\:bg-screen-background,
.dark .dark\:bg-screen-background-default,
.lists,
#container-main,
#leftListView,
#task-list-view,
#right-view,
input[readonly]
{
    background: #161616 !important;
}
.border-solid {
    border-color: #444444 !important;
}
.bg-left-sidebar-bg-color-80 {
    border-right: 1.5px solid #444444;
}
#tl-bar-user img {
    border-radius: 100% !important;
}